<div class="global-container">
    <h1>{{ "ABOUT.TITRE" | translate }}</h1>
    <ol>
      <li>
        <h2>{{ "ABOUT.TITRE_P1" | translate }}</h2>
        <p>{{ "ABOUT.P1" | translate }}</p>
      </li>
  
      <li>
        <h2>{{ "ABOUT.TITRE_P2" | translate }}</h2>
        <p>{{ "ABOUT.P2_1" | translate }}</p>
        <p>{{ "ABOUT.P2_2" | translate }}</p>
        <p>{{ "ABOUT.P2_3" | translate }}</p>
      </li>
  
      <li>
        <h2>{{ "ABOUT.TITRE_P3" | translate }}</h2>
        <ul>
          <li>
            <strong>{{ "ABOUT.MISSION_PRINCIPALE" | translate }}</strong>
            <p>{{ "ABOUT.MISSION_PRINCIPALE_TEXTE" | translate }}</p>
          </li>
          <li>
            <strong>{{ "ABOUT.AXES_DEV" | translate }}</strong>
            <ul>
              <li>
                <strong>{{ "ABOUT.DIFFUSER" | translate }}</strong>
                <p>{{ "ABOUT.DIFFUSER_TEXTE" | translate }}</p>
              </li>
              <li>
                <strong>{{ "ABOUT.RENFORCER" | translate }}</strong>
                <p>{{ "ABOUT.RENFORCER_TEXTE" | translate }}</p>
              </li>
              <li>
                <strong>{{ "ABOUT.ENCOURAGER" | translate }}</strong>
                <p>{{ "ABOUT.ENCOURAGER_TEXTE" | translate }}</p>
              </li>
              <li>
                <strong>{{ "ABOUT.CONTRIBUER" | translate }}</strong>
                <p>{{ "ABOUT.CONTRIBUER_TEXTE" | translate }}</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ol>
  
    <h1 class="faq-title">{{ "ABOUT.FAQ_TITRE" | translate }}</h1>
    <ol>
        <li>
            <h2>{{ "ABOUT.FAQ_1" | translate }}</h2>
            <p>{{ "ABOUT.FAQ_1_TEXTE" | translate }}</p>
          </li>
          <li>
            <h2>{{ "ABOUT.FAQ_2" | translate }}</h2>
            <p>{{ "ABOUT.FAQ_2_TEXTE" | translate }}</p>
          </li>
          <li>
            <h2>{{ "ABOUT.FAQ_3" | translate }}</h2>
            <p>{{ "ABOUT.FAQ_3_TEXTE" | translate }}</p>
          </li>
          <li>
            <h2>{{ "ABOUT.FAQ_4" | translate }}</h2>
            <p>{{ "ABOUT.FAQ_4_TEXTE" | translate }}</p>
          </li>
          <li>
            <h2>{{ "ABOUT.FAQ_5" | translate }}</h2>
            <p>{{ "ABOUT.FAQ_5_TEXTE" | translate }}</p>
          </li>
          <li>
            <h2>{{ "ABOUT.FAQ_6" | translate }}</h2>
            <p>{{ "ABOUT.FAQ_6_TEXTE" | translate }}</p>
          </li>
          <li>
            <h2>{{ "ABOUT.FAQ_7" | translate }}</h2>
            <p>{{ "ABOUT.FAQ_7_TEXTE" | translate }}</p>
          </li>
          <li>
            <h2>{{ "ABOUT.FAQ_8" | translate }}</h2>
            <p>{{ "ABOUT.FAQ_8_TEXTE" | translate }}</p>
          </li>
          <li>
            <h2>{{ "ABOUT.FAQ_9" | translate }}</h2>
            <p>{{ "ABOUT.FAQ_9_TEXTE" | translate }}</p>
          </li>
          <li>
            <h2>{{ "ABOUT.FAQ_10" | translate }}</h2>
            <p>{{ "ABOUT.FAQ_10_TEXTE" | translate }}</p>
          </li>
          <li>
            <h2>{{ "ABOUT.FAQ_11" | translate }}</h2>
            <p>{{ "ABOUT.FAQ_11_TEXTE" | translate }}</p>
          </li>
          <li>
            <h2>{{ "ABOUT.FAQ_12" | translate }}</h2>
            <p>{{ "ABOUT.FAQ_12_TEXTE" | translate }}</p>
          </li>
          <li>
            <h2>{{ "ABOUT.FAQ_13" | translate }}</h2>
            <p>{{ "ABOUT.FAQ_13_TEXTE" | translate }}</p>
          </li>
          <li>
            <h2>{{ "ABOUT.FAQ_14" | translate }}</h2>
            <p>{{ "ABOUT.FAQ_14_TEXTE" | translate }}</p>
          </li>
          <li>
            <h2>{{ "ABOUT.FAQ_15" | translate }}</h2>
            <p>{{ "ABOUT.FAQ_15_TEXTE" | translate }}</p>
          </li>

          <p class="contact">{{ "ABOUT.AUTRE" | translate }}</p>
          
      
    </ol>
  </div>
  