<div class="global-container">
  <div class="main-container">
    <div class="text-gauche">
      <a class="link" routerLink="/register">Rejoignez gratuitement le catalogue ici</a>
    </div>

    <div class="designer">
      <img class="background" src="assets/images/back.png">
      <img class="designer-image" src="assets/images/lady.png" />
      <p class="designer-name">Laura Kanah-Bisseck</p>
      <p class="designer-info">Product Designer | AIPDA Europe</p>
      <button mat-raised-button class="designer-semaine">Designer de la semaine</button>
    </div>

    <div class="text-gauche">
      <p>A propos de l'AIPDA | Contacts</p>
    </div>
  </div>

  <div class="bottom-container">
    <div class="white-container left">     

      <div class="text-container">    
        <p class="subtitle">Catalogue owod</p>    
        <div class="arrow-container">
          <p class="arrow-info">Visitez le catalogue maintenant</p>
          <img class="arrow" routerLink="catalogue" src="assets/logos/arrow.png" />
        </div>
      </div>

      <div class="preview-container" routerLink="/catalogue" *ngIf="designers$ | async as designers">
        <div class="preview" *ngFor="let designer of designers">
          <img src="/assets/images/back-blue.png" class="preview-background">
          <img [src]="designer.profilePicture" class="preview-photo">
          <p class="preview-name">{{ designer.firstname }} {{ designer.lastname }}</p>
          <p class="preview-job">{{ designer.profession }}</p>
        </div>
      </div>

    </div>

    <div class="white-container right">     

      <div class="text-container">    
        <p class="subtitle">Espace membres</p>   
        <div class="arrow-container">
          <p class="arrow-info">Accedez à votre espace</p>
          <img class="arrow" src="assets/logos/arrow.png" routerLink="login" />
        </div>
      </div>

      <div class="icon-container">
        <img class="user-icon" src="assets/logos/User.png" routerLink="login" />
      </div>
    </div>
  </div>
</div>
