<div class="global-container">
  <div class="main-container">
    <div class="text-gauche">
      <a class="link" routerLink="/register">{{ "HOME.JOIN" | translate }}</a>
    </div>

    <div class="designer" *ngIf="weeklyDesigner$ | async as designer">
      <div class="img-container">
        <img
          class="background"
          src="assets/images/back.png"
          alt="logo de l'AIPDA (association internationale pour le design en Afrique) pour OWOD, our World of Design."
        />
        <img
          class="designer-image"
          [src]="designer.profilePicture"
          alt="photo de profil d'un designer de la plateforme OWOD"
        />
      </div>
      <div class="photo-info-container">
        <p class="designer-name">
          {{ designer.firstname }} {{ designer.lastname }}
        </p>
        <p class="designer-info">
          {{ designer.profession }} | {{ designer.countryOfResidence }}
        </p>
      </div>
      <button
        mat-raised-button
        class="designer-semaine"
        [routerLink]="['/details', designer.id]"
      >
        Designer de la semaine
      </button>
    </div>

    <div class="text-gauche">
      <p class="link">
        <a routerLink="/about">{{ "HOME.A_PROPOS" | translate }}</a> |
        <a routerLink="/contact">{{ "HOME.CONTACT" | translate }}</a>
      </p>
    </div>
  </div>

  <div class="bottom-container">
    <div class="white-container left">
      <div class="text-container">
        <p class="subtitle">{{ "HOME.CATALOG" | translate }}</p>
        <div class="arrow-container">
          <p class="arrow-info">{{ "HOME.VISIT" | translate }}</p>
          <img
            class="arrow"
            routerLink="catalogue"
            src="assets/logos/arrow.png"
            alt="flèche"
          />
        </div>
      </div>

      <div
        class="preview-container"
        routerLink="/catalogue"
        *ngIf="designers$ | async as designers"
      >
        <div class="preview" *ngFor="let designer of designers">
          <img
            src="/assets/logos/logo-blanc.png"
            class="preview-background"
            alt="logo de l'AIPDA, OWOD"
          />
          <img
            [src]="designer.profilePicture"
            class="preview-photo"
            alt="photo de profil d'un des designers d'OWOD"
          />
        </div>
      </div>
    </div>

    <div class="white-container right">
      <div class="text-container">
        <p class="subtitle">{{ "HOME.ESPACE_MEMBRE" | translate }}</p>
        <div class="arrow-container">
          <p class="arrow-info">{{ "HOME.ACCEDER" | translate }}</p>
          <img
            class="arrow"
            src="assets/logos/arrow.png"
            routerLink="account"
            alt="fleche"
          />
        </div>
      </div>

      <div class="icon-container">
        <img
          class="user-icon"
          src="assets/logos/User.png"
          routerLink="account"
          alt="compte utilisateur"
        />
      </div>
    </div>
  </div>
</div>
