<form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="reset-form">
  <!-- Champ de mot de passe -->
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Nouveau mot de passe</mat-label>
    <input
      matInput
      type="password"
      formControlName="password"
      placeholder="Nouveau mot de passe"
      required
    />
    <mat-error *ngIf="resetForm.get('password')?.hasError('required')">
      Le mot de passe est requis
    </mat-error>
  </mat-form-field>

  <!-- Bouton de soumission -->
  <button mat-raised-button  type="submit" >
    Réinitialiser
  </button>
</form>
