/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Red Hat Display", sans-serif !important;
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --primary-color: #eff2ff;
  --dark-color: #000827;
  --accent-color: #d4deff;
  --warn-color: #12095F;
  --background-color: #eff2ff;
  --text-color: #eff2ff;

  --mat-primary-color: var(--background-color);
  --mat-accent-color: var(--accent-color);
  --mat-warn-color: var(--warn-color);

  --mdc-filled-text-field-container-color: var(--primary-color);

  --mat-primary-contrast: var(--text-color);
  --mat-accent-contrast: var(--text-color);
  --mat-warn-contrast: var(--text-color);
}

body, .mat-typography {
  font: 400 14px/20px "Red Hat Display", sans-serif !important;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: var(--dark-color) !important;
}

.mat-typography h1 {
  font-family: "Red Hat Display", sans-serif !important;
  font-size: 48px;
  font-weight: 700;
}

.mdc-text-field {
  border: solid 1px !important;
  border-radius: 5px !important;
}

mat-label {
    color :black !important;
}

.mdc-text-field__input {
  color: black !important;
}

.mat-mdc-select {
  color: black !important;
}

h1 {
  font-size: 48px;
  font-family: "Red Hat Display", sans-serif !important;
}

h2 {
  font-family: "Red Hat Display", sans-serif !important;
}

.success-snackbar {
  background: #144416;
  color: white;
}

.error-snackbar {
  background: #7c1811;
  color: white;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: var(--dark-color) !important;
}

.mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked {
  background-color: var(--dark-color) !important;
}
