<div class="arrow-container" routerLink="/account">
  <img src="/assets/logos/arrow-back.png" alt="retour" />
  <p>{{ "DASHBOARD.BACK" | translate }}</p>
</div>

<div class="events-management-container">
  <h1>{{ "GESTION_CAL.H1" | translate }}</h1>

  <div class="form-container">
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <h2 *ngIf="!modifMode">{{ "GESTION_CAL.NEW" | translate }}</h2>
      <h2 *ngIf="modifMode">{{ "GESTION_CAL.MODIFY" | translate }}</h2>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ "GESTION_CAL.TITRE" | translate }}</mat-label>
        <input matInput formControlName="title" />
        <mat-error *ngIf="eventForm.get('title')?.hasError('required')">
          {{ "GESTION_CAL.TITRE_REQ" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <div class="date-fields">
        <mat-form-field appearance="outline">
          <mat-label>{{
            "GESTION_CAL.DATE_DEB" | translate
          }}</mat-label>
          <input
            matInput
            [matDatepicker]="pickerStart"
            formControlName="startDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerStart"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerStart></mat-datepicker>
          <mat-error *ngIf="eventForm.get('startDate')?.hasError('required')">
            {{ "GESTION_CAL.DATE_DEB_REQ" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{
            "GESTION_CAL.DATE_FIN" | translate
          }}</mat-label>
          <input
            matInput
            [matDatepicker]="pickerEnd"
            formControlName="endDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerEnd"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd></mat-datepicker>
          <mat-error *ngIf="eventForm.get('endDate')?.hasError('required')">
            {{ "GESTION_CAL.DATE_FIN_REQ" | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-actions">
        <button
          type="submit"
          *ngIf="!modifMode"
          mat-raised-button
          color="primary"
          [disabled]="eventForm.invalid"
        >
          {{ "GESTION_CAL.AJOUTER" | translate}}
        </button>
        <button
        type="submit"
        *ngIf="modifMode"
        mat-raised-button
        color="primary"
        [disabled]="eventForm.invalid"
      >
        {{ "GESTION_CAL.MODIF" | translate}}
      </button>
      <button
        *ngIf="modifMode"
        mat-raised-button
        (click)="cancelModify()"
      >
        {{ "GESTION_CAL.ANNULER" | translate}}
      </button>
      </div>
    </form>
  </div>

  <div class="events-list">
    <h2>{{ "GESTION_CAL.EVENTS" | translate }}</h2>

    <div
      *ngIf="!designer?.events || designer.events.length === 0"
      class="no-events"
    >
      {{ "GESTION_CAL.NO_EVENT" | translate }}
    </div>

    <div class="event-container">
      <mat-card *ngFor="let event of designer?.events" class="event-card">
        <mat-card-header>
          <mat-card-title>{{ event.title }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            {{ "GESTION_CAL.DU" | translate }}
            {{ event.startDate | date : "dd/MM/yyyy" }} {{ "GESTION_CAL.AU" | translate }}
            {{ event.endDate | date : "dd/MM/yyyy" }}
          </p>
          <p *ngIf="event.description">{{ event.description }}</p>
        </mat-card-content>

        <mat-card-actions align="end">
          <button mat-button (click)="enterModifyEvent(event)">
            {{ "GESTION_CAL.MODIF" | translate }}
          </button>
          <button mat-button color="warn" (click)="deleteEvent(event)">
            {{ "GESTION_CAL.SUPPRIMER" | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
