<div class="global-container" *ngIf="(authService.session$ | async ) as s">

   <!-- === HEADER === -->
  <div class="top-container">
    <div class="text-container">
      <div class="top-left-container">
        <h1 class="bonjour">{{ "MON_COMPTE.BONJOUR" | translate }}</h1>
        <h2>{{ s.user?.firstname }} {{ s.user?.lastname }}</h2>
        <h3 *ngIf="s.isAdmin">ADMINISTRATEUR</h3>
      </div>

      <div class="top-right-container">
        <h2>{{ "MON_COMPTE.BIENVENUE" | translate }}</h2>

        <ng-container *ngIf="s.accountType !== AccountType.NONE; else noAccountTexts " >
          <p class="small">{{ "MON_COMPTE.CREATED_1" | translate }}</p>
          <p class="small">{{ "MON_COMPTE.CREATED_2" | translate }}</p>
        </ng-container>

        <ng-template #noAccountTexts>
          <p class="small">{{ "MON_COMPTE.INFO_1" | translate }}</p>
          <p class="small">{{ "MON_COMPTE.INFO_2" | translate }}</p>
          <p class="small">{{ "MON_COMPTE.INFO_3" | translate }}</p>
        </ng-template>

      </div>
    </div>
    <img src="assets/images/back-dark.png" class="background" />
  </div>

   <!-- === AUCUN COMPTE (création) === -->
  <div *ngIf="s.accountType === AccountType.NONE" class="not-created">

    <!-- Onglets Designer / Entreprise -->
    <mat-tab-group>

    <!-- Onglet Designer -->
     <mat-tab label="Créer un compte professionnel">

    <form class="form" [formGroup]="accountForm" (ngSubmit)="onSubmitDesigner()">
      <mat-form-field appearance="fill">
        <mat-label>{{ "DASHBOARD.PROFESSION" | translate }}</mat-label>
        <mat-select formControlName="profession">
          <mat-option *ngFor="let job of jobs" [value]="job">
            {{ job }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "DASHBOARD.SPECIALITE" | translate }}</mat-label>
        <mat-select formControlName="specialties" multiple>
          <mat-option *ngFor="let specialty of specialties" [value]="specialty">
            {{ specialty }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "DASHBOARD.SPHERE" | translate }}</mat-label>
        <mat-select formControlName="spheresOfInfluence" multiple>
          <mat-option
            *ngFor="let sphere of spheresOfInfluence"
            [value]="sphere"
          >
            {{ sphere }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "DASHBOARD.SECTEUR" | translate }}</mat-label>
        <mat-select formControlName="favoriteSectors" multiple>
          <mat-option *ngFor="let sector of favoriteSectors" [value]="sector">
            {{ sector }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "MON_COMPTE.PAYS" | translate }}</mat-label>
        <input matInput formControlName="countryOfResidence" />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        {{ "MON_COMPTE.CREER_DESIGNER" | translate }}
      </button>

    </form>

    
    <div class="created">
      <button class="button" mat-raised-button routerLink="/catalogue">
        {{ "MON_COMPTE.RETOUR" | translate }}
      </button>

      <button class="button" mat-raised-button (click)="logOut()">
        {{ "MON_COMPTE.DECONNECTER" | translate }}
      </button>

      <button *ngIf="authService.isAdmin" class="purple-button" mat-raised-button routerLink="/account/add-designers">
        {{ "MON_COMPTE.ADMIN" | translate }}
      </button>
    </div>

    </mat-tab>

    <!-- Onglet Entreprise -->
     <mat-tab label="Créer un compte entreprise">

     </mat-tab>

    </mat-tab-group>
  </div>

  <!-- === AFFICHAGES DES OPTIONS SI COMPTE DESIGNER === -->
  <div *ngIf="s.accountType === AccountType.DESIGNER" class="created">
    <button class="button" mat-raised-button routerLink="/catalogue">
      {{ "MON_COMPTE.RETOUR" | translate }}
    </button>

    <button class="button" mat-raised-button routerLink="/dashboard">
      {{ "MON_COMPTE.CONFIGURER" | translate }}
    </button>

    <button class="button" mat-raised-button routerLink="/account/contacts">
      {{ "MON_COMPTE.CONTACT" | translate }}
    </button>

    <button class="button" mat-raised-button routerLink="/account/gestion-calendrier">
      {{ "MON_COMPTE.CALENDRIER" | translate }}
    </button>

    <button *ngIf="authService.isAdmin" class="purple-button" mat-raised-button routerLink="/account/add-designers">
      {{ "MON_COMPTE.ADMIN" | translate }}
    </button>

    <button class="button" mat-raised-button (click)="logOut()">
      {{ "MON_COMPTE.DECONNECTER" | translate }}
    </button>

    <button class="red-button" mat-raised-button (click)="openSuppressDialog()">
      {{ "MON_COMPTE.SUPPRIMER" | translate }}
    </button>
  </div>

  <!-- === AFFICHAGES DES OPTIONS SI COMPTE ENTREPRISE === -->
  <div *ngIf="s.accountType === AccountType.COMPANY " class="created">
    <button class="button" mat-raised-button routerLink="/catalogue">
      {{ "MON_COMPTE.RETOUR" | translate }}
    </button>

    <button class="button" mat-raised-button routerLink="/dashboard">
      {{ "MON_COMPTE.CONFIGURER" | translate }}
    </button>

    <button class="button" mat-raised-button routerLink="/account/teams">
      Gérer mes équipes
    </button>

    <button class="button" mat-raised-button routerLink="/account/gestion-historique">
      Gérer historique
    </button>

    <button class="button" mat-raised-button (click)="logOut()">
      {{ "MON_COMPTE.DECONNECTER" | translate }}
    </button>

    <button class="red-button" mat-raised-button (click)="openSuppressDialog()">
      {{ "MON_COMPTE.SUPPRIMER" | translate }}
    </button>
  </div>
</div>

<!-- Template pour confirmer la supression du profil -->
<ng-template #confirmSuppressTemplate>
  <h2 mat-dialog-title>{{ "MON_COMPTE.SUPPRIMER" | translate }}</h2>
  <mat-dialog-content>
    <p>{{ "MON_COMPTE.CONFIRME" | translate }}</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>
      {{ "MON_COMPTE.CONFIRME_NON" | translate }}
    </button>
    <button mat-raised-button (click)="deleteDesigner()">
      {{ "MON_COMPTE.CONFIRME_OUI" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
