<div class="arrow-container" routerLink="/account">
  <img src="/assets/logos/arrow-back.png" alt="retour" />
  <p>{{ "DASHBOARD.BACK" | translate }}</p>
</div>

<div class="dashboard-container">
  <div class="left-container">
    <app-photo-section
      [photoUrl]="getProfilePicture()"
      altText="Photo de profil designer"
      (fileSelected)="onPictureSelected($event)"
    >
    </app-photo-section>

    <app-major-works-section
      [images]="designerForm.value.majorWorks"
      (remove)="deleteWork($event)"
      (addFiles)="onRealisationSelected($event)"
      (add)="updateWorks()"
    >
    </app-major-works-section>
  </div>

  <app-designer-form-section [form]="designerForm" (formSubmit)="onSubmit()">
  </app-designer-form-section>
</div>
