<!-- calendar-dialog.component.html -->
<h2 mat-dialog-title>{{ "CAL_DIALOG.CAL" | translate }}{{ designer?.firstname }} {{ designer?.lastname }}</h2>

<mat-dialog-content>
  <div class="calendar-container">
    <div class="calendar-section">
      <mat-calendar 
      [dateClass]="dateClass"
        [selected]="selectedDate"
        (selectedChange)="onDateSelected($event)">
      </mat-calendar>
    </div>
    
    <div class="events-section">
      <h3>{{ "CAL_DIALOG.EVENTS" | translate }}{{ selectedDate | date:'dd/MM/yyyy' }} :</h3>
      
      <div *ngIf="eventsOnSelectedDate.length === 0" class="no-events">
        {{ "CAL_DIALOG.NO_EVENT" | translate }}
      </div>

      <div *ngFor="let event of eventsOnSelectedDate" class="event-container">
        <h4><strong>{{ "CAL_DIALOG.NAME" | translate }}</strong> {{ event.title }}</h4>
        <p><strong>Description :</strong> {{ event.description }}</p>
      </div>
      
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ "CAL_DIALOG.FERMER" | translate }}</button>
</mat-dialog-actions>