/* calendar-dialog.component.scss */
.calendar-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

h3 {
  font-weight: bold;
}

.calendar-section,
.events-section {
  flex: 1;
  min-width: 300px;
}

.events-section {
  padding: 10px;
  border-radius: 4px;
  color: var(--primary-color);
  width: 400px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.no-events {
  color: var(--primary-color);
  font-style: italic;
  padding: 10px 0;
}

.event-card {
  background-color: var(--accent-color);
  border-radius: 10px;
  color: var(--dark-color);
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.event {
  background-color: #81c784;
  padding: 0px 5px 2px 7px;
  border-radius: 5px;
  color: black;
  font-variant: all-petite-caps;
  width: fit-content;
  font-size: 1rem;
  font-weight: inherit;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.event-card h4 {
  font-weight: 700;
  font-size: 1.1rem;
  margin: 0;
  margin-left: 10px;
}

.date {
  font-weight: 600;
  margin-bottom: 5px;
  margin-left: 10px;
}

.description {
  margin-left: 10px;
}

::ng-deep
  .mat-calendar-body-cell.event-in-period
  .mat-calendar-body-cell-content {
  background-color: #81c784 !important;
  color: white !important;
  border-radius: 50% !important;
}

.event-item {
  color: black;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: var(--dark-color) !important;
}

@media (max-width: 768px) {
  ::ng-deep .mat-mdc-dialog-container {
    padding: 5px !important;
  }

  .calendar-container {
    flex-direction: column;
  }

  .calendar-section,
  .events-section {
    min-width: 100%;
  }

  .events-section {
    width: 100%;
  }

  h2 {
    text-align: center;
  }

  .event-container h4, .event-container p {
    font-size: 14px;
    margin: 0;
  }
}
