<footer class="footer-container">
    <div class="footer-content">
      <!-- Section Contact -->
      <div class="footer-section">
        <h3 class="footer-title">{{ "FOOTER.CONTACT" | translate }}</h3>
        <p>Email: <a href="mailto:contact@aipda.com">contact&#64;aipda.com</a></p>
        <p>Téléphone: +33 1 23 45 67 89</p>
        <p>Adresse: 123 Rue du Design, Paris, France</p>
      </div>
  
      <!-- Section Liens Utiles -->
      <div class="footer-section">
        <h3 class="footer-title">{{ "FOOTER.LIENS_UTILES" | translate }}</h3>
        <ul class="footer-links">
          <li><a routerLink="/catalogue">{{ "FOOTER.CATALOGUE" | translate }}</a></li>
          <li><a routerLink="/about">{{ "FOOTER.A_PROPOS" | translate }}</a></li>
          <li><a routerLink="/contact">{{ "FOOTER.CONTACTEZ_NOUS" | translate }}</a></li>
          <li><a routerLink="/mentions-legales">{{ "FOOTER.CGV" | translate }}</a></li>
        </ul>
      </div>
    </div>
  
    <!-- Section Copyright -->
    <div class="footer-bottom">
      <p>&copy; 2024 AIPDA - {{ "FOOTER.DROITS" | translate }}</p>
    </div>
  </footer>
  