.global-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.explication {
    color: white;
    margin: 0 50px;
    font-size: 20px;
  line-height: initial;
  text-align: center;
}

.mat-mdc-button:not(:disabled) {
    color: var(--background-color);
}

h1 {
    font-size: 40px !important;
}

.input, button {
    font-size: 20px;
}

a {
    color: white;
    text-decoration: underline;
}

.annuler {
    background-color: rgb(61, 13, 13);
}

.valider {
    background-color: rgb(11, 48, 11);
}
