<div class="global-container">
  <h1 mat-dialog-title>{{ "PHOTO.CHANGER" | translate }}</h1>
  <p class="explication" >
    {{ "PHOTO.EXPLICATION_1" | translate }}
  </p>
  <div mat-dialog-content>
    <input class="input" type="file" (change)="onFileSelected($event)" accept="image/*" />
  </div>
  <div mat-dialog-actions>
    <button mat-button class="annuler" (click)="onCancel()">{{ "PHOTO.ANNULER" | translate }}</button>
    <button mat-button class="valider" (click)="onConfirm()">{{ "PHOTO.VALIDER" | translate }}</button>
  </div>
</div>
