<div class="global-container">
    <h1>{{ "ABOUT.TITRE" | translate }}</h1>
    <ol>
      <li>
        <h2>{{ "ABOUT.TITRE_P1" | translate }}</h2>
        <p>{{ "ABOUT.P1" | translate }}</p>
      </li>
  
      <li>
        <h2>{{ "ABOUT.TITRE_P2" | translate }}</h2>
        <p>{{ "ABOUT.P2_1" | translate }}</p>
        <p>{{ "ABOUT.P2_2" | translate }}</p>
        <p>{{ "ABOUT.P2_3" | translate }}</p>
      </li>
  
      <li>
        <h2>{{ "ABOUT.TITRE_P3" | translate }}</h2>
        <ul>
          <li>
            <strong>{{ "ABOUT.MISSION_PRINCIPALE" | translate }}</strong>
            <p>{{ "ABOUT.MISSION_PRINCIPALE_TEXTE" | translate }}</p>
          </li>
          <li>
            <strong>{{ "ABOUT.AXES_DEV" | translate }}</strong>
            <ul>
              <li>
                <strong>{{ "ABOUT.DIFFUSER" | translate }}</strong>
                <p>{{ "ABOUT.DIFFUSER_TEXTE" | translate }}</p>
              </li>
              <li>
                <strong>{{ "ABOUT.RENFORCER" | translate }}</strong>
                <p>{{ "ABOUT.RENFORCER_TEXTE" | translate }}</p>
              </li>
              <li>
                <strong>{{ "ABOUT.ENCOURAGER" | translate }}</strong>
                <p>{{ "ABOUT.ENCOURAGER_TEXTE" | translate }}</p>
              </li>
              <li>
                <strong>{{ "ABOUT.CONTRIBUER" | translate }}</strong>
                <p>{{ "ABOUT.CONTRIBUER_TEXTE" | translate }}</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ol>
  
    
  </div>
  