<div class="global-container">
  <h1 class="faq-title">{{ "FAQ.TITRE" | translate }}</h1>
  <ol>
    <li>
      <h2>{{ "FAQ.1.TITRE" | translate }}</h2>
      <p>{{ "FAQ.1.TEXTE" | translate }}</p>
    </li>
    <li>
      <h2>{{ "FAQ.2.TITRE" | translate }}</h2>
      <p>{{ "FAQ.2.TEXTE" | translate }}</p>
    </li>
    <li>
      <h2>{{ "FAQ.3.TITRE" | translate }}</h2>
      <p>{{ "FAQ.3.TEXTE" | translate }}</p>
    </li>
    <li>
      <h2>{{ "FAQ.4.TITRE" | translate }}</h2>
      <p>{{ "FAQ.4.TEXTE" | translate }}</p>
    </li>
    <li>
      <h2>{{ "FAQ.5.TITRE" | translate }}</h2>
      <p>{{ "FAQ.5.TEXTE" | translate }}</p>
    </li>
    <li>
      <h2>{{ "FAQ.6.TITRE" | translate }}</h2>
      <p>{{ "FAQ.6.TEXTE" | translate }}</p>
    </li>
    <li>
      <h2>{{ "FAQ.7.TITRE" | translate }}</h2>
      <p>{{ "FAQ.7.TEXTE" | translate }}</p>
    </li>
    <li>
      <h2>{{ "FAQ.8.TITRE" | translate }}</h2>
      <p>{{ "FAQ.8.TEXTE" | translate }}</p>
    </li>
    <li>
      <h2>{{ "FAQ.9.TITRE" | translate }}</h2>
      <p>{{ "FAQ.9.TEXTE" | translate }}</p>
    </li>
    <li>
      <h2>{{ "FAQ.10.TITRE" | translate }}</h2>
      <p>{{ "FAQ.10.TEXTE" | translate }}</p>
    </li>
    <li>
      <h2>{{ "FAQ.11.TITRE" | translate }}</h2>
      <p>{{ "FAQ.11.TEXTE" | translate }}</p>
    </li>
    <li>
      <h2>{{ "FAQ.12.TITRE" | translate }}</h2>
      <p>{{ "FAQ.12.TEXTE" | translate }}</p>
    </li>
    <li>
      <h2>{{ "FAQ.13.TITRE" | translate }}</h2>
      <p>{{ "FAQ.13.TEXTE" | translate }}</p>
    </li>
    <li>
      <h2>{{ "FAQ.14.TITRE" | translate }}</h2>
      <p>{{ "FAQ.14.TEXTE" | translate }}</p>
    </li>
    <li>
      <h2>{{ "FAQ.15.TITRE" | translate }}</h2>
      <p>{{ "FAQ.15.TEXTE" | translate }}</p>
    </li>

    <p class="contact">{{ "FAQ.AUTRE" | translate }}</p>
  </ol>
</div>
