.global-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

/* STYLE SI DESIGNER CREE */

.created {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin-bottom: 30px;
}

.button {
  width: fit-content;
}

.error-button {
  background-color: rgb(121, 5, 5) !important;
}

.created p {
  font-size: 2rem;
  width: 700px;
  line-height: normal;
  text-align: center;
}

/* STYLES SI DESIGNER NON CREE */

.not-created {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  font-size: 1vw;
  text-align: center;
  line-height: initial;
}

/* STYLES POUR MOBILE */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 6vw;
    text-align: center;
    margin: 0;
  }

  .global-container {
    margin: 20px;
    gap: 0;
  }

  .created {
    margin-top: 20px;
    gap: 20px;
  }

  .created p {
    font-size: 1rem;
    width: 400px;
  }

  .info {
    font-size: 4vw;
  }

  .form {
    width: 80%;
  }

  mat-label {
    font-size: 4vw;
  }
}
