.global-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

/* STYLE SI DESIGNER CREE */

.created {
  margin-top: 200px;
}

/* STYLES SI DESIGNER NON CREE */

.not-created {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  font-size: 20px;
  text-align: center;
  line-height: initial;
}

/* STYLES POUR MOBILE */

h1 {
  font-size: 32px;
  text-align: center;
}

.global-container {
  margin: 20px;
}

.created {
  margin-top: 50px;
}

.info {
  font-size: 12px;
}
