.global-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

/* STYLE SI DESIGNER CREE */

.created {
  margin-top: 200px;
}

/* STYLES SI DESIGNER NON CREE */

.not-created {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  font-size: 1vw;
  text-align: center;
  line-height: initial;
}

/* STYLES POUR MOBILE */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 6vw;
    text-align: center;
    margin: 0;
  }

  .global-container {
    margin: 20px;
  }

  .created {
    margin-top: 50px;
  }

  .info {
    font-size: 4vw;
  }

  .form {
    width: 80%;
  }

  mat-label {
    font-size: 4vw;
  }
}
