<div class="top-container">
  <div class="top-text">
    {{ "CATALOGUE.TOP_TEXT" | translate }}
  </div>

  <div class="filtre">
    <img class="filtre-icon" src="assets/logos/filtre.png" alt="Filtre" />
    <button mat-button [matMenuTriggerFor]="menu">{{ "CATALOGUE.FILTRE" | translate }}</button>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="menuProfession">
      {{ "CATALOGUE.PROFESSION" | translate }}
    </button>
    <button mat-menu-item [matMenuTriggerFor]="menuSpecialty">
      {{ "CATALOGUE.SPECIALITE" | translate }}
    </button>
    <button mat-menu-item [matMenuTriggerFor]="menuSphere">
      {{ "CATALOGUE.SPHERE" | translate }}
    </button>
    <button mat-menu-item [matMenuTriggerFor]="menuSector">{{ "CATALOGUE.SECTEUR" | translate }}</button>
    <button mat-menu-item [matMenuTriggerFor]="menuCountry">
      {{ "CATALOGUE.PAYS" | translate }}
    </button>
  </mat-menu>

  <mat-menu #menuProfession="matMenu">
    <button mat-menu-item (click)="research('profession', 'étudiant')">
      {{ "CATALOGUE.ETUDIANT" | translate }}
    </button>
    <button mat-menu-item (click)="research('profession', 'designer')">
      Designer
    </button>
    <button mat-menu-item (click)="research('profession', 'artisan')">
      {{ "CATALOGUE.ETUDIANT" | translate }}
    </button>
  </mat-menu>

  <!-- Specialties -->
  <mat-menu #menuSpecialty="matMenu">
    <button
      mat-menu-item
      *ngFor="let specialty of specialties"
      (click)="research('specialty', specialty)"
    >
      {{ specialty }}
    </button>
  </mat-menu>

  <!-- Sphère d'influence -->
  <mat-menu #menuSphere="matMenu">
    <button
      mat-menu-item
      *ngFor="let sphere of spheres"
      (click)="research('sphere', sphere)"
    >
      {{ sphere }}
    </button>
  </mat-menu>

  <!-- Secteurs -->
  <mat-menu #menuSector="matMenu">
    <button
      mat-menu-item
      *ngFor="let sector of sectors"
      (click)="research('sector', sector)"
    >
      {{ sector }}
    </button>
  </mat-menu>

  <!-- Pays de résidence -->
  <mat-menu #menuCountry="matMenu">
    <button
      mat-menu-item
      *ngFor="let country of countries"
      (click)="research('country', country)"
    >
      {{ country }}
    </button>
  </mat-menu>
</div>

<div
  class="designers-container"
  *ngIf=" paginatedDesigners$ | async as designers"
>
  <div
    class="designer"
    *ngFor="let designer of designers"
    [routerLink]="['/details', designer.id]"
  >
    <img class="background" src="assets/images/back.png" />
    <img [src]="designer.profilePicture" class="photo" />
    <p class="designer-name">
      {{ designer.firstname }} {{ designer.lastname }}
    </p>
    <p class="designer-info">{{ designer.profession }}</p>
  </div>
</div>

<!-- Pagination -->
<div class="pagination">
  <button
    mat-raised-button
    (click)="prevPage()"
    [disabled]="currentPage.value === 1"
  >
    {{ "CATALOGUE.PRECEDENT " | translate }}
  </button>

  <span>Page {{ currentPage | async }} {{ "CATALOGUE.SUR " | translate }} {{ maxPage |async }}</span>

  <button
    mat-raised-button
    (click)="nextPage()"
    [disabled]="currentPage.value === maxPage.value"
  >
  {{ "CATALOGUE.SUIVANT " | translate }}
  </button>
</div>
