commands:
  01_install_certbot:
    command: |
      dnf install -y certbot python3-certbot-nginx mod_ssl

container_commands:
  01_generate_ssl:
    command: |
      if ! [ -f /etc/letsencrypt/live/api.owod.aipda-design.org/fullchain.pem ]; then
        certbot --nginx --non-interactive --agree-tos \
          --email plateformeowod.noreply@gmail.com \
          -d api.owod.aipda-design.org
      fi

  02_permissions:
    command: |
      chmod 755 /etc/letsencrypt/archive || true
      chmod 755 /etc/letsencrypt/live || true

  03_setup_cron_renew:
      command: |
        echo "0 0 * * * root /usr/bin/certbot renew --quiet --post-hook 'systemctl restart nginx'" > /etc/cron.d/certbot-renew
        chmod 644 /etc/cron.d/certbot-renew

  04_restart_nginx:
      command: "systemctl restart nginx"