files:
    .ebextensions/https-instance-single.config:
        content: |
            packages:
              yum:
                mod_ssl: []

            files:
              /etc/httpd/conf.d/ssl.conf:
                mode: "000644"
                owner: root
                group: root
                content: |
                    LoadModule ssl_module modules/mod_ssl.so
                    Listen 443

                    <VirtualHost *:443>
                        ServerName api.owod.aipda-design.org

                        SSLEngine             on
                        SSLCertificateFile    "/etc/pki/tls/certs/server.crt"
                        SSLCertificateKeyFile "/etc/pki/tls/private/server.key"
                        SSLCertificateChainFile "/etc/pki/tls/certs/chain.pem"

                        # Autres configurations Apache si nécessaire
                        ProxyPass / http://localhost:80/
                        ProxyPassReverse / http://localhost:80/
                    </VirtualHost>

              /etc/httpd/conf.d/virtualhost.conf:
                mode: "000644"
                owner: root
                group: root
                content: |
                    <VirtualHost *:80>
                        ServerName api.owod.aipda-design.org

                        # Redirection HTTP vers HTTPS
                        RewriteEngine On
                        RewriteCond %{HTTP:X-Forwarded-Proto} !https
                        RewriteRule (.*) https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
                    </VirtualHost>

            container_commands:
              1_install_cert:
                command: |
                  aws acm get-certificate --certificate-arn arn:aws:acm:eu-west-3:575108959418:certificate/2a108d86-831b-4ed5-b009-cc0f9563bc69 --region eu-west-3 > /tmp/cert.json
                  cat /tmp/cert.json | jq -r '.Certificate' > /etc/pki/tls/certs/server.crt
                  cat /tmp/cert.json | jq -r '.CertificateChain' > /etc/pki/tls/certs/chain.pem
                  cat /tmp/cert.json | jq -r '.PrivateKey' > /etc/pki/tls/private/server.key
                  chmod 600 /etc/pki/tls/private/server.key
                  rm /tmp/cert.json

              2_reload_httpd:
                command: "service httpd reload"

            option_settings:
              aws:autoscaling:launchconfiguration:
                SecurityGroups: sg-0a1f249af36bf4445