<div class="global-container">
    <div class="title-container">
        <div class="titles">
            <h1 class="title">{{ "HOME.ENTREPRISE.TITRE" | translate }}</h1>
            <h2 class="subtitle">
                {{ "HOME.ENTREPRISE.SOUS_TITRE" | translate }}
            </h2>
        </div>

        <div class="button-container">
            <button mat-button routerLink="/register" class="full-button">
                {{ "HOME.ENTREPRISE.CREER" | translate }}
            </button>
            <button mat-button routerLink="/contact" class="empty-button">
                {{ "HOME.ENTREPRISE.DEMO" | translate }}
            </button>
        </div>

        <img class="gros-logo" src="../../assets/logos/gros-logo.png" />
    </div>

    <div class="info-container">
        <p class="info-container-title">
            {{ "HOME.ENTREPRISE.VALORISER" | translate }}
        </p>
        <p class="info-container-subtitle">
            {{ "HOME.ENTREPRISE.VALORISER2" | translate }}
        </p>

        <div class="info-sub-container">
            <div class="info">
                <p class="info-title">
                    {{ "HOME.ENTREPRISE.CADRE" | translate }}
                </p>
                <p class="info-subtitle">
                    {{ "HOME.ENTREPRISE.CADRE2" | translate }}
                </p>
                <p class="info-text">
                    {{ "HOME.ENTREPRISE.CADRE3" | translate}}
                </p>
            </div>

            <div class="info">
                <p class="info-title">
                    {{ "HOME.ENTREPRISE.RAYON" | translate }}
                </p>
                <p class="info-subtitle">
                    {{ "HOME.ENTREPRISE.RAYON2" | translate }}
                </p>
                <p class="info-text">
                    {{ "HOME.ENTREPRISE.RAYON3" | translate}}
                </p>
            </div>

            <div class="info">
                <p class="info-title">
                    {{ "HOME.ENTREPRISE.EPAN" | translate }}
                </p>
                <p class="info-subtitle">
                    {{ "HOME.ENTREPRISE.EPAN2" | translate }}
                </p>
                <p class="info-text">
                    {{ "HOME.ENTREPRISE.EPAN3" | translate }}
                </p>
            </div>
        </div>
    </div>

</div>