.header-container {
  height: 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 71px;
  padding-left: 80px;
  align-items: center;
}

.logo {
  height: 52px;
}

.logo:hover {
    cursor: pointer;
}

.title {
  font-size: 32px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.title:hover {
  cursor: pointer;
}

.end-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: end;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.langue {
  width: max-content;
  font-size: 20px;
}

.langue .active {
  font-weight: bolder;
}

.clickable:hover {
  cursor: pointer;
}

.social {
  width: 40px;
  height: 40px;
}

/** STYLES POUR MOBILE **/
@media screen and (max-width: 768px) {
  .header-container {
    padding: 15px;
    height: auto;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }

  .logo {
    height: 40px; /* Logo légèrement plus petit */
  }

  .title {
    position: static; /* Enlève le positionnement absolu */
    transform: none; /* Enlève la transformation */
    font-size: 24px; /* Texte plus petit */
    text-align: center;
  }

  .end-container {
    width: 100%;
    justify-content: space-between; /* Répartit l'espace entre les éléments */
    align-items: center;
    gap: 15px;
  }

  .social-links {
    gap: 10px;
  }

  .social {
    width: 30px; /* Icônes sociales plus petites */
    height: 30px;
  }

  .langue {
    font-size: 16px;
  }
}
