/* CSS */
.header-container {
  height: 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 71px;
  padding-left: 80px;
  align-items: center;
}

.logo {
  height: 52px;
  cursor: pointer;
}

.logo-connexion {
  object-fit: contain;
  height: 40px;
  cursor: pointer;
}

.profile-picture {
  object-fit: cover;
  height: 40px;
  width: 40px;
  border: solid 1px var(--dark-color);
  border-radius: 50%;
  cursor: pointer;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1000;
  position: absolute;
  left: 50%;
}

.burger-line {
  width: 100%;
  height: 4px;
  background-color: var(--dark-color);
  transition: all 0.3s ease;
}

.links-container {
  position: relative;
  top: 49px;
  left: 1vw;
  width: fit-content;
  height: fit-content;
  background-color: var(--primary-color);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 999;
  opacity: 0;
  display: flex;
  transition: all 0.3s ease;
  transform: translateY(-20px);
  padding: 120px 50px 20px 50px;
  margin: -50px 0 0 0;
  border-radius: 20px;
}

.links-container.active {
  opacity: 1;
  transform: translateY(0);
}

.link {
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0;
}

.active-link {
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 20px;
}

.end-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.connexion-container{
  height: 40px;
}

.langue {
  width: max-content;
  font-size: 20px;
  margin: 0;
}

.langue .active {
  font-weight: bolder;
}

.clickable:hover {
  cursor: pointer;
}

/* Animation du burger menu */
.burger-menu.active .burger-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu.active .burger-line:nth-child(2) {
  opacity: 0;
}

.burger-menu.active .burger-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

/* STYLES POUR MOBILE */
@media screen and (max-width: 768px) {
  .header-container {
    padding: 15px;
    height: auto;
    position: relative;
  }

  .logo {
    height: 40px;
  }

  .links-container {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: none;
  }

  .links-container.active {
    display: flex;
    position: fixed;
  }

  .end-container {
    width: auto;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }

  .link {
    font-size: 1.2rem;
  }

  .langue {
    font-size: 16px;
  }
}
