<div class="global-container">
  <h1>{{ "LOGIN.TITRE" | translate }}</h1>
  <p class="info">
    {{ "LOGIN.BIENVENUE" | translate }}
  </p>
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" name="email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ "LOGIN.MDP" | translate }}</mat-label>
      <input matInput type="password" formControlName="password" name="password" />
    </mat-form-field>

    <button mat-raised-button type="submit">{{ "LOGIN.TITRE" | translate }}</button>
  </form>

  <div class="trait"></div>

  <div class="bottom-container">
    <a>{{ "LOGIN.MDP_OUBLIE" | translate }}</a>
    <p>
      {{ "LOGIN.PAS_DE_COMPTE" | translate }} <a routerLink="/register">{{ "LOGIN.INSCRIPTION" | translate }}</a>
    </p>
  </div>
</div>
