<div class="legal-container">
    <h1>{{ "LEGAL.TITLE" | translate }}</h1>
  
    <!-- Mentions légales -->
    <section>
      <h2>{{ "LEGAL.EDITOR.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.EDITOR.CONTENT" | translate }}</p>
    </section>
  
    <section>
      <h2>{{ "LEGAL.HOST.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.HOST.CONTENT" | translate }}</p>
    </section>
  
    <section>
      <h2>{{ "LEGAL.INTELLECTUAL_PROPERTY.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.INTELLECTUAL_PROPERTY.CONTENT" | translate }}</p>
    </section>
  
    <section>
      <h2>{{ "LEGAL.PERSONAL_DATA.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.PERSONAL_DATA.CONTENT" | translate }}</p>
    </section>
  
    <section>
      <h2>{{ "LEGAL.LIABILITY.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.LIABILITY.CONTENT" | translate }}</p>
    </section>
  
    <section>
      <h2>{{ "LEGAL.HYPERLINKS.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.HYPERLINKS.CONTENT" | translate }}</p>
    </section>
  
    <section>
      <h2>{{ "LEGAL.MODIFICATIONS.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.MODIFICATIONS.CONTENT" | translate }}</p>
    </section>
  
    <section>
      <h2>{{ "LEGAL.APPLICABLE_LAW.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.APPLICABLE_LAW.CONTENT" | translate }}</p>
    </section>
  
    <h1>{{ "CGU.TITLE" | translate }}</h1>
  
    <!-- CGU -->
    <section>
      <h2>{{ "CGU.SECTIONS.0.TITLE" | translate }}</h2>
      <p>{{ "CGU.SECTIONS.0.CONTENT" | translate }}</p>
    </section>
  
    <section>
      <h2>{{ "CGU.SECTIONS.1.TITLE" | translate }}</h2>
      <p>{{ "CGU.SECTIONS.1.CONTENT" | translate }}</p>
    </section>
  
    <section>
      <h2>{{ "CGU.SECTIONS.2.TITLE" | translate }}</h2>
      <p>{{ "CGU.SECTIONS.2.CONTENT" | translate }}</p>
    </section>
  
    <section>
      <h2>{{ "CGU.SECTIONS.3.TITLE" | translate }}</h2>
      <p>{{ "CGU.SECTIONS.3.CONTENT" | translate }}</p>
    </section>
  
    <section>
      <h2>{{ "CGU.SECTIONS.4.TITLE" | translate }}</h2>
      <p>{{ "CGU.SECTIONS.4.CONTENT" | translate }}</p>
    </section>
  
    <section>
      <h2>{{ "CGU.SECTIONS.5.TITLE" | translate }}</h2>
      <p>{{ "CGU.SECTIONS.5.CONTENT" | translate }}</p>
    </section>
  
    <section>
      <h2>{{ "CGU.SECTIONS.6.TITLE" | translate }}</h2>
      <p>{{ "CGU.SECTIONS.6.CONTENT" | translate }}</p>
    </section>
  
    <section>
      <h2>{{ "CGU.SECTIONS.7.TITLE" | translate }}</h2>
      <p>{{ "CGU.SECTIONS.7.CONTENT" | translate }}</p>
    </section>
  
    <section>
      <h2>{{ "CGU.SECTIONS.8.TITLE" | translate }}</h2>
      <p>{{ "CGU.SECTIONS.8.CONTENT" | translate }}</p>
    </section>
  
    <section>
      <h2>{{ "CGU.SECTIONS.9.TITLE" | translate }}</h2>
      <p>{{ "CGU.SECTIONS.9.CONTENT" | translate }}</p>
    </section>
  
    <section>
      <h2>{{ "CGU.SECTIONS.10.TITLE" | translate }}</h2>
      <p>{{ "CGU.SECTIONS.10.CONTENT" | translate }}</p>
    </section>
  
    <section>
      <h2>{{ "CGU.SECTIONS.11.TITLE" | translate }}</h2>
      <p>{{ "CGU.SECTIONS.11.CONTENT" | translate }}</p>
    </section>
  </div>
  