.form-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  width: 50vw;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.group-title {
  font-size: 1vw;
  font-weight: 900;
  letter-spacing: 5px;
  font-variant: small-caps;
}

.underline {
  height: 1px;
  width: 100%;
  border-top: solid 1px black;
  margin-bottom: 20px;
}


::ng-deep mat-checkbox * {
  color: black !important;
}

::ng-deep .mdc-checkbox * {
  border-color: black !important;
}

@media screen and (max-width: 768px) {
  .form-section {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .group-title {
    font-size: 16px;
    letter-spacing: 3px;
  }

  /* Ajustement des champs de formulaire */
  .form-group mat-form-field {
    width: 100%;
  }

  /* Ajustement des boutons */
  button[mat-raised-button] {
    width: 100%;
  }

  /* Ajustement des select multiples */
  ::ng-deep .mat-mdc-select-panel {
    max-width: 100vw !important;
    max-height: 50vh !important;
  }
}
