<div class="arrow-container" routerLink="/catalogue">
  <img src="/assets/logos/arrow-back.png" />
  <p>{{ "DESIGNER_DETAILS.RETOUR" | translate }}</p>
</div>

<div class="details-container">
  <!-- Photo -->
  <div class="photo-section">
    <img class="background" src="assets/images/back.png" />
    <img
      [src]="designer.profilePicture || 'assets/images/default-profile.png'"
      alt="Photo de profil"
      class="photo"
    />
    <p class="photo-name">{{ designer.firstname }} {{ designer.lastname }}</p>
    <p class="photo-job">{{ designer.profession }}</p>
  </div>

  <!-- Informations -->
  <div class="info-section">
    <p class="info-name">{{ designer.firstname }} {{ designer.lastname }}</p>
    <p class="info-subtitle">
      {{ designer.profession }} | {{ designer.countryOfResidence }}
    </p>
    <p class="biography">{{ designer.biography }}</p>

    <div *ngIf="designer.majorWorks" class="realisations">
      <p class="group-title">{{ "DESIGNER_DETAILS.REALISATIONS" | translate }}</p>
      <div class="preview-container">
        <div *ngFor="let realisationUrl of designer.majorWorks">
          <img
            [src]="realisationUrl"
            class="realisation-photo"
            (mouseover)="showPreview(realisationUrl)"
            (mouseout)="hidePreview()"
            (click)="showPreviewMobile(realisationUrl)"
          />
        </div>
      </div>

      <!-- Zone pour afficher l'agrandissement -->
      <div *ngIf="previewImage" class="preview-overlay" (click)="hidePreviewMobile()">
        <img [src]="previewImage" class="overlay-image" />
      </div>
    </div>

    <div class="detail">
      <p class="group-title">{{ "DESIGNER_DETAILS.REALISATIONS" | translate }}</p>
      <p>
        <strong>{{ "DASHBOARD.PROFESSION" | translate }} : </strong>
        <span>{{ designer.profession }} </span>
      </p>
      <p *ngIf="designer.professionalLevel">
        <strong>{{ "DASHBOARD.NIVEAU" | translate }} : </strong><span>{{ designer.professionalLevel }}</span>
      </p>
      <p>
        <strong>{{ "DASHBOARD.SPECIALITE" | translate }} : </strong>
        <span *ngFor="let specialty of designer.specialties"
          >{{ specialty }} |
        </span>
      </p>
      <p>
        <strong>{{ "DASHBOARD.SPHERE" | translate }} : </strong>
        <span *ngFor="let sphere of designer.spheresOfInfluence"
          >{{ sphere }} |
        </span>
      </p>
      <p>
        <strong>{{ "DASHBOARD.PROFESSION" | translate }} : </strong>
        <span *ngFor="let sector of designer.favoriteSectors"
          >{{ sector }} |
        </span>
      </p>
    </div>

    <div class="contact">
      <p class="group-title">{{ "DESIGNER_DETAILS.CONTACT" | translate }}</p>
      <p *ngIf="designer.email">
        <strong>Email : </strong>{{ designer.email }}
      </p>
      <p *ngIf="designer.phoneNumber">
        <strong>{{ "DASHBOARD.TELEPHONE" | translate }} : </strong>{{ designer.phoneNumber }}
      </p>
      <a
        *ngIf="designer.portfolioUrl"
        target="_blank"
        [href]="designer.portfolioUrl"
        >{{ "DESIGNER_DETAILS.PORTFOLIO" | translate }}</a
      >
    </div>
  </div>
</div>
