<div class="dashboard-container">
  <div class="left-container">
    <div class="photo-section">
      <img class="background" src="assets/images/back.png" />
      <img
        [src]="
          designerForm.value.profilePicture ||
          'assets/logos/default-profile.png'
        "
        alt="Photo de profil"
        class="photo"
      />
      <button
        mat-raised-button
        class="photo-button"
        (click)="openPhotoDialog()"
      >
        {{ "DASHBOARD.CHANGE_PHOTO" | translate }}
      </button>
    </div>

    <div class="realisations-section">
      <p class="group-title">Réalisations</p>
      <div class="realisations-inner-section">
        <div
          *ngFor="let image of designerForm.value.majorWorks; let i = index"
          class="realisation-item"
        >
          <img class="realisation" [src]="image" />
          <button
            mat-raised-button
            color="warn"
            (click)="deleteWork(image)"
          >
          {{ "DASHBOARD.SUPPRIMER" | translate }}
          </button>
        </div>
      </div>
      <input
        type="file"
        accept="image/*"
        multiple
        (change)="onRealisationSelected($event)"
      />
      <button mat-raised-button (click)="updateWorks()">
        {{ "DASHBOARD.AJOUT_REAL" | translate }}
      </button>
    </div>
    
  </div>

  <!-- Formulaire -->
  <div class="form-section">
    <form [formGroup]="designerForm" (ngSubmit)="onSubmit()">
      <!-- Informations personnelles -->
      <p class="group-title">{{ "DASHBOARD.INFO_PERSO" | translate }}</p>
      <div class="underline"></div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>{{ "DASHBOARD.PRENOM" | translate }}</mat-label>
          <input matInput formControlName="firstname" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ "DASHBOARD.NOM" | translate }}</mat-label>
          <input matInput formControlName="lastname" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ "DASHBOARD.PAYS_ORIGINE" | translate }}</mat-label>
          <input matInput formControlName="countryOfOrigin" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ "DASHBOARD.PAYS_RESIDENCE" | translate }}</mat-label>
          <input matInput formControlName="countryOfResidence" />
        </mat-form-field>
      </div>

      <!-- Informations de contact -->
      <p class="group-title">{{ "DASHBOARD.INFO_CONTACT" | translate }}</p>
      <div class="underline"></div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ "DASHBOARD.TELEPHONE" | translate }}</mat-label>
          <input matInput formControlName="phoneNumber" />
        </mat-form-field>
      </div>

      <!-- Informations professionnelles -->
      <p class="group-title">{{ "DASHBOARD.INFO_PRO" | translate }}</p>
      <div class="underline"></div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>{{ "DASHBOARD.BIOGRAPHIE" | translate }}</mat-label>
          <textarea matInput formControlName="biography"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ "DASHBOARD.PROFESSION" | translate }}</mat-label>
          <mat-select formControlName="profession">
            <mat-option *ngFor="let job of jobs" [value]="job">
              {{ job }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ "DASHBOARD.SPECIALITE" | translate }}</mat-label>
          <mat-select formControlName="specialties" multiple>
            <mat-option
              *ngFor="let specialty of specialties"
              [value]="specialty"
            >
              {{ specialty }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ "DASHBOARD.SPHERE" | translate }}</mat-label>
          <mat-select formControlName="spheresOfInfluence" multiple>
            <mat-option
              *ngFor="let sphere of spheresOfInfluence"
              [value]="sphere"
            >
              {{ sphere }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ "DASHBOARD.SECTEUR" | translate }}</mat-label>
          <mat-select formControlName="favoriteSectors" multiple>
            <mat-option *ngFor="let sector of favoriteSectors" [value]="sector">
              {{ sector }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ "DASHBOARD.NIVEAU" | translate }}</mat-label>
          <input matInput formControlName="professionalLevel" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Portfolio</mat-label>
          <input matInput formControlName="portfolioUrl" />
        </mat-form-field>
      </div>

      <button mat-raised-button type="submit">{{ "DASHBOARD.SAUVEGARDER" | translate }}</button>
    </form>
  </div>
</div>
