/* REGLES GLOBALES */
.global-container {
  display: flex;
  flex-direction: row;
  margin: 100px;
  gap: 20px;
}

.group-title {
  font-size: 1vw;
  font-weight: 900;
  letter-spacing: 5px;
  font-variant: small-caps;
}

.arrow-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 50px;
  font-size: 20px;
  align-items: center;
}

.arrow-container p {
  margin: 0;
}

.arrow-container:hover {
  cursor: pointer;
}

/* CONTENEUR DE GAUCHE */
.left-container {
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}

.designers-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

::ng-deep .designer-item * {
  cursor: pointer;
  display: flex !important;
  flex-direction: row !important;
  gap: 10px;
  align-items: center;
}

.designer-name {
  color: black;
}

.miniature {
  object-fit: cover;
  height: 30px;
  width: 30px;
  border: solid 1px var(--dark-color);
  border-radius: 50%;
  cursor: pointer;
}

/* CONTENEUR DE DROITE */
.right-container {
  background-color: white;
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
}

.button-header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 20px;
  gap: 20px;
}

.infos-section {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.images-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 100px;
}

.form-section {
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 768px) {

  .global-container {
    flex-direction: column;
    margin: 20px;
  }

  .group-title {
    font-size: 5vw;
  }

  .infos-section {
    flex-direction: column;
  }

  .images-section {
    gap: 20px;
  }

  .button-header {
    justify-content: center;
  }

}
