<div class="arrow-container" routerLink="/account">
  <img src="/assets/logos/arrow-back.png" alt="retour" />
  <p>{{ "DASHBOARD.BACK" | translate }}</p>
</div>

<div class="global-container">
  <div class="left-container">
    <button mat-raised-button (click)="openCreationMode()">
      Créer un designer
    </button>

    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Rechercher un designer</mat-label>
      <input
        matInput
        placeholder="Entrez un nom"
        [formControl]="searchControl"
        autocomplete="off"
      />
      <button
        mat-icon-button
        matSuffix
        *ngIf="searchControl.value"
        aria-label="Effacer"
        (click)="searchControl.reset()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

    <mat-list class="designers-list" role="list">
      <mat-list-item
        *ngFor="let d of designers$ | async"
        role="listitem"
        class="designer-item"
        (click)="onSelectDesigner(d)"
      >
        <img
          [src]="d.profilePicture ? d.profilePicture: 'assets/logos/account.png' "
          alt="photo de profil"
          class="miniature"
        />
        <div class="designer-name" matLine>
          {{ d.firstname }} {{ d.lastname }}
        </div>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="right-container">
    <div class="creation-mode" *ngIf="creationMode">
      <p class="group-title">Création d'un nouveau designer</p>
      <form
        class="form"
        [formGroup]="accountForm"
        (ngSubmit)="onCreateDesigner()"
      >
        <mat-form-field appearance="fill">
          <mat-label>{{ "DASHBOARD.PRENOM" | translate }}</mat-label>
          <input matInput formControlName="firstname" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ "DASHBOARD.NOM" | translate }}</mat-label>
          <input matInput formControlName="lastname" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ "DASHBOARD.PROFESSION" | translate }}</mat-label>
          <mat-select formControlName="profession">
            <mat-option *ngFor="let job of jobs" [value]="job">
              {{ job }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ "DASHBOARD.SPECIALITE" | translate }}</mat-label>
          <mat-select formControlName="specialties" multiple>
            <mat-option
              *ngFor="let specialty of specialties"
              [value]="specialty"
            >
              {{ specialty }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ "DASHBOARD.SPHERE" | translate }}</mat-label>
          <mat-select formControlName="spheresOfInfluence" multiple>
            <mat-option
              *ngFor="let sphere of spheresOfInfluence"
              [value]="sphere"
            >
              {{ sphere }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ "DASHBOARD.SECTEUR" | translate }}</mat-label>
          <mat-select formControlName="favoriteSectors" multiple>
            <mat-option *ngFor="let sector of favoriteSectors" [value]="sector">
              {{ sector }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ "MON_COMPTE.PAYS" | translate }}</mat-label>
          <input matInput formControlName="countryOfResidence" />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">
          {{ "MON_COMPTE.CREER_DESIGNER" | translate }}
        </button>
      </form>
    </div>

    <div class="modification-mode" *ngIf="designerId !== '' ">
      <div class="button-header">
        <button mat-raised-button (click)="openTransfer(designerId)">Transférer</button>
        <button mat-raised-button (click)="deleteDesigner(designerId)">Supprimer</button>
      </div>
      <div class="infos-section">
        <div class="images-section">
          <app-photo-section
            [photoUrl]="getProfilePicture()"
            (edit)="openPhotoDialog()"
          >
          </app-photo-section>

          <app-major-works-section
            [images]="designerForm.value.majorWorks"
            (remove)="deleteWork($event)"
            (addFiles)="onRealisationSelected($event)"
            (add)="updateWorks()"
          >
          </app-major-works-section>
        </div>

        <div class="form-section">
          <app-designer-form-section
            [form]="designerForm"
            (formSubmit)="onModifyDesigner()"
          >
          </app-designer-form-section>
        </div>
      </div>
    </div>
  </div>
</div>
